<a href="https://colab.research.google.com/github/CandelaAntognoli/Analisis-Predictivo-De-Talento-NBA/blob/main/Proyecto_Final_Grupo_7_DAPT_10_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECCI√ìN 1: Extracci√≥n y Conexi√≥n (Por: Candela)

In [ ]:
#Candela
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
mi_ruta = '/content/drive/MyDrive/Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics'

In [ ]:
import os
if os.path.exists(mi_ruta):
    print("‚úÖ ¬°Acceso concedido! Los archivos est√°n aqu√≠:")
    print(os.listdir(mi_ruta))
else:
    print("‚ùå Error de ruta: No se encuentra la carpeta. Verifica si creaste el 'Acceso directo' en TU unidad de Drive.")

‚úÖ ¬°Acceso concedido! Los archivos est√°n aqu√≠:
['nba.sqlite.zip', 'csv', 'nba.sqlite', 'Diagrama ER.pdf', 'Archivos a Usar y modelo ER.pdf']

In [ ]:
import os

nombre_real_carpeta = 'Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics'

mi_ruta = os.path.join('/content/drive/MyDrive/', 'Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics')

if os.path.exists(mi_ruta):
    print("‚úÖ ¬°CONECTADO! Archivos encontrados:")
    print(os.listdir(mi_ruta))
else:
    print("‚ùå Sigue sin encontrarse. Aseg√∫rate de que el acceso directo est√© en la ra√≠z de 'Mi unidad'.")

‚úÖ ¬°CONECTADO! Archivos encontrados:
['nba.sqlite.zip', 'csv', 'nba.sqlite', 'Diagrama ER.pdf', 'Archivos a Usar y modelo ER.pdf']

In [ ]:
import os
from google.colab import drive

# 1. Aseguramos el montaje
drive.mount('/content/drive', force_remount=True)

# 2. Listamos TODO lo que hay en tu Drive para ver c√≥mo se llama realmente la carpeta
print("üîé Listando carpetas disponibles en tu unidad:")
carpetas_en_drive = os.listdir('/content/drive/MyDrive/')

# Buscamos la que se parezca a la tuya
encontrada = False
for c in carpetas_en_drive:
    if "Grupo 7" in c:
        print(f"‚úÖ ¬°CARPETA ENCONTRADA!: '{c}'")
        ruta_base = f'/content/drive/MyDrive/{c}'
        print(f"üìÅ Contenido de la carpeta:")
        print(os.listdir(ruta_base))
        encontrada = True
        break

if not encontrada:
    print("‚ùå No encontr√© ninguna carpeta con 'Grupo 7' en tu MyDrive.")
    print("Opciones: ")
    print("1. Revisa si el Acceso Directo est√° en la ra√≠z de 'Mi Unidad' y no dentro de otra carpeta.")
    print("2. Revisa que el nombre sea exacto.")

Mounted at /content/drive
üîé Listando carpetas disponibles en tu unidad:
‚úÖ ¬°CARPETA ENCONTRADA!: 'Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics'
üìÅ Contenido de la carpeta:
['nba.sqlite.zip', 'csv', 'nba.sqlite', 'Diagrama ER.pdf', 'Archivos a Usar y modelo ER.pdf']

In [ ]:
import os
import zipfile
import sqlite3
import pandas as pd
from google.colab import drive

# 1. Definir la ruta exacta que acabamos de descubrir
ruta_base = "/content/drive/MyDrive/Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics"
archivo_zip = os.path.join(ruta_base, "nba.sqlite.zip")
carpeta_destino = "/content/nba_descomprimido"

# 2. Descomprimir el archivo .zip
print("‚è≥ Descomprimiendo la base de datos...")
with zipfile.ZipFile(archivo_zip, 'r') as zip_ref:
    zip_ref.extractall(carpeta_destino)
print("‚úÖ Descompresi√≥n completada.")

# 3. Localizar el archivo .sqlite dentro de la carpeta descomprimida
# A veces al descomprimir se crea otra carpeta adentro, vamos a buscar el archivo .sqlite
for root, dirs, files in os.walk(carpeta_destino):
    for file in files:
        if file.endswith(".sqlite"):
            path_sqlite_local = os.path.join(root, file)
            print(f"üìç Base de datos encontrada en: {path_sqlite_local}")

# 4. Conectar y extraer datos de prueba
conn = sqlite3.connect(path_sqlite_local)
df_players = pd.read_sql_query("SELECT person_id, display_first_last, position FROM common_player_info LIMIT 10", conn)
conn.close()

print("\nüìä Primeros 10 jugadores extra√≠dos con √©xito:")
display(df_players)

‚è≥ Descomprimiendo la base de datos...
‚úÖ Descompresi√≥n completada.
üìç Base de datos encontrada en: /content/nba_descomprimido/nba.sqlite

üìä Primeros 10 jugadores extra√≠dos con √©xito:

  person_id   display_first_last position
0     76001       Alaa Abdelnaby  Forward
1     76002      Zaid Abdul-Aziz   Center
2     76003  Kareem Abdul-Jabbar   Center
3       949  Shareef Abdur-Rahim  Forward
4     76006          Forest Able    Guard
5     76007       John Abramovic  Forward
6    203518         Alex Abrines    Guard
7   1630173     Precious Achiuwa  Forward
8    203112           Quincy Acy  Forward
9     76011          Alvan Adams   Center

# SECCI√ìN 2: Inspecci√≥n para Diagrama Estrella (Por: Mauricio)

In [ ]:
# Mauricio (02/04/2026)

import sqlite3
import pandas as pd

# Explicitly define path_sqlite_local to ensure it's accessible
path_sqlite_local = '/content/nba_descomprimido/nba.sqlite'

# 1. abrimos una conexion
conexion = sqlite3.connect(path_sqlite_local)

# 2. Definimos las tablas que t√∫ necesitas para el Diagrama Estrella
tablas_interes = ['common_player_info', 'game', 'draft_combine_stats']

print("üïµÔ∏è OBSERVAMOS LAS TABLAS DE INTERES PARA EL DIAGRAMA ESTRELLA...\n")

for tabla in tablas_interes:
    print(f"--- Estructura de: {tabla} ---")
    # Este comando nos da: nombre de columna, tipo de dato y si es llave
    info = pd.read_sql_query(f"PRAGMA table_info({tabla});", conexion)
    print(info[['name', 'type']])
    print("-" * 30)

# 3. Cerramos la conexi√≥n
conexion.close()

# Imprimimos las tablas y las columnas para sellecionar la informacion relevante para nuestro analisis

üïµÔ∏è OBSERVAMOS LAS TABLAS DE INTERES PARA EL DIAGRAMA ESTRELLA...

--- Estructura de: common_player_info ---
                                name       type
0                          person_id       TEXT
1                         first_name       TEXT
2                          last_name       TEXT
3                 display_first_last       TEXT
4           display_last_comma_first       TEXT
5                    display_fi_last       TEXT
6                        player_slug       TEXT
7                          birthdate  TIMESTAMP
8                             school       TEXT
9                            country       TEXT
10                  last_affiliation       TEXT
11                            height       TEXT
12                            weight       TEXT
13                        season_exp       REAL
14                            jersey       TEXT
15                          position       TEXT
16                      rosterstatus       TEXT
17  games_played_current_season_flag       TEXT
18                           team_id    INTEGER
19                         team_name       TEXT
20                 team_abbreviation       TEXT
21                         team_code       TEXT
22                         team_city       TEXT
23                        playercode       TEXT
24                         from_year       REAL
25                           to_year       REAL
26                      dleague_flag       TEXT
27                          nba_flag       TEXT
28                 games_played_flag       TEXT
29                        draft_year       TEXT
30                       draft_round       TEXT
31                      draft_number       TEXT
32                  greatest_75_flag       TEXT
------------------------------
--- Estructura de: game ---
                      name       type
0                season_id       TEXT
1             team_id_home       TEXT
2   team_abbreviation_home       TEXT
3           team_name_home       TEXT
4                  game_id       TEXT
5                game_date  TIMESTAMP
6             matchup_home       TEXT
7                  wl_home       TEXT
8                      min    INTEGER
9                 fgm_home       REAL
10                fga_home       REAL
11             fg_pct_home       REAL
12               fg3m_home       REAL
13               fg3a_home       REAL
14            fg3_pct_home       REAL
15                ftm_home       REAL
16                fta_home       REAL
17             ft_pct_home       REAL
18               oreb_home       REAL
19               dreb_home       REAL
20                reb_home       REAL
21                ast_home       REAL
22                stl_home       REAL
23                blk_home       REAL
24                tov_home       REAL
25                 pf_home       REAL
26                pts_home       REAL
27         plus_minus_home    INTEGER
28    video_available_home    INTEGER
29            team_id_away       TEXT
30  team_abbreviation_away       TEXT
31          team_name_away       TEXT
32            matchup_away       TEXT
33                 wl_away       TEXT
34                fgm_away       REAL
35                fga_away       REAL
36             fg_pct_away       REAL
37               fg3m_away       REAL
38               fg3a_away       REAL
39            fg3_pct_away       REAL
40                ftm_away       REAL
41                fta_away       REAL
42             ft_pct_away       REAL
43               oreb_away       REAL
44               dreb_away       REAL
45                reb_away       REAL
46                ast_away       REAL
47                stl_away       REAL
48                blk_away       REAL
49                tov_away       REAL
50                 pf_away       REAL
51                pts_away       REAL
52         plus_minus_away    INTEGER
53    video_available_away    INTEGER
54             season_type       TEXT
------------------------------
--- Estructura de: draft_combine_stats ---
                            name  type
0                         season  TEXT
1                      player_id  TEXT
2                     first_name  TEXT
3                      last_name  TEXT
4                    player_name  TEXT
5                       position  TEXT
6                height_wo_shoes  REAL
7          height_wo_shoes_ft_in  TEXT
8                 height_w_shoes  REAL
9           height_w_shoes_ft_in  TEXT
10                        weight  TEXT
11                      wingspan  REAL
12                wingspan_ft_in  TEXT
13                standing_reach  REAL
14          standing_reach_ft_in  TEXT
15                  body_fat_pct  TEXT
16                   hand_length  TEXT
17                    hand_width  TEXT
18        standing_vertical_leap  REAL
19             max_vertical_leap  REAL
20             lane_agility_time  REAL
21    modified_lane_agility_time  REAL
22          three_quarter_sprint  REAL
23                   bench_press  REAL
24      spot_fifteen_corner_left  TEXT
25       spot_fifteen_break_left  TEXT
26          spot_fifteen_top_key  TEXT
27      spot_fifteen_break_right  TEXT
28     spot_fifteen_corner_right  TEXT
29      spot_college_corner_left  TEXT
30       spot_college_break_left  TEXT
31          spot_college_top_key  TEXT
32      spot_college_break_right  TEXT
33     spot_college_corner_right  TEXT
34          spot_nba_corner_left  TEXT
35           spot_nba_break_left  TEXT
36              spot_nba_top_key  TEXT
37          spot_nba_break_right  TEXT
38         spot_nba_corner_right  TEXT
39   off_drib_fifteen_break_left  TEXT
40      off_drib_fifteen_top_key  TEXT
41  off_drib_fifteen_break_right  TEXT
42   off_drib_college_break_left  TEXT
43      off_drib_college_top_key  TEXT
44  off_drib_college_break_right  TEXT
45               on_move_fifteen  TEXT
46               on_move_college  TEXT
------------------------------

SECCION 3: LIMPIEZA Y NORMALIZACION DE DATOS (POR: MANUEL)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

TARGET_FOLDER_NAME = "1ZOmQHhdi88wPLzUDwCMYufJig9Y9PSDD"  # tu folder ID (lo usamos como pista)

SEARCH_ROOTS = [
    "/content/drive/MyDrive",
    "/content/drive/Shareddrives"
]

sqlite_path = None
for root_base in SEARCH_ROOTS:
    if not os.path.exists(root_base):
        continue
    for root, dirs, files in os.walk(root_base):
        # pista: si el ID aparece en la ruta, priorizamos
        if TARGET_FOLDER_NAME in root:
            if "nba.sqlite" in files:
                sqlite_path = os.path.join(root, "nba.sqlite")
                break
        # fallback: igual buscamos nba.sqlite en cualquier lado
        if sqlite_path is None and "nba.sqlite" in files:
            sqlite_path = os.path.join(root, "nba.sqlite")
    if sqlite_path:
        break

print("Ruta encontrada:", sqlite_path)
print("Existe?:", os.path.exists(sqlite_path) if sqlite_path else None)

Ruta encontrada: /content/drive/MyDrive/Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics/nba.sqlite
Existe?: True

In [ ]:
# COMIENZA EL PROCESO DE ETL
import pandas as pd
import numpy as np
import sqlite3

conn = sqlite3.connect(sqlite_path)
print("‚úÖ Conectado a SQLite")

‚úÖ Conectado a SQLite

In [ ]:
import os

zip_path = None
for base in ["/content/drive/MyDrive", "/content/drive/Shareddrives"]:
    if not os.path.exists(base):
        continue
    for root, dirs, files in os.walk(base):
        if "nba.sqlite.zip" in files:
            zip_path = os.path.join(root, "nba.sqlite.zip")
            break
    if zip_path:
        break

print("ZIP encontrado en:", zip_path)
print("Existe?:", os.path.exists(zip_path) if zip_path else None)

ZIP encontrado en: /content/drive/MyDrive/Proyecto Final - Grupo 7 - DAPT 10 - Data Analytics/nba.sqlite.zip
Existe?: True

In [ ]:
import zipfile, os

DEST_DIR = "/content/nba_unzipped"
os.makedirs(DEST_DIR, exist_ok=True)

with zipfile.ZipFile(zip_path, "r") as z:
    z.extractall(DEST_DIR)

print("‚úÖ Descomprimido en:", DEST_DIR)
print("Archivos descomprimidos:", os.listdir(DEST_DIR)[:20])

‚úÖ Descomprimido en: /content/nba_unzipped
Archivos descomprimidos: ['nba.sqlite']

In [ ]:
sqlite_path = None
for root, dirs, files in os.walk(DEST_DIR):
    for f in files:
        if f.endswith(".sqlite"):
            sqlite_path = os.path.join(root, f)
            break
    if sqlite_path:
        break

print("SQLite encontrado:", sqlite_path)
print("Existe?:", os.path.exists(sqlite_path) if sqlite_path else None)

SQLite encontrado: /content/nba_unzipped/nba.sqlite
Existe?: True

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(sqlite_path)

tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Cantidad de tablas:", len(tables))
display(tables)

Cantidad de tablas: 16

                   name
0                  game
1          game_summary
2           other_stats
3             officials
4      inactive_players
5             game_info
6            line_score
7          play_by_play
8                player
9                  team
10   common_player_info
11         team_details
12         team_history
13  draft_combine_stats
14        draft_history
15     team_info_common

In [ ]:
df_player = pd.read_sql("""
SELECT
  person_id,
  display_first_last,
  position,
  height,
  weight,
  country,
  team_id,
  from_year,
  to_year
FROM common_player_info
""", conn)

df_player.head()

,person_id,display_first_last,position,height,weight,country,team_id,from_year,to_year
0,76001,Alaa Abdelnaby,Forward,6-10,240,USA,1610612757,1990.0,1994.0
1,76002,Zaid Abdul-Aziz,Center,6-9,235,USA,1610612745,1968.0,1977.0
2,76003,Kareem Abdul-Jabbar,Center,7-2,225,USA,1610612747,1969.0,1988.0
3,949,Shareef Abdur-Rahim,Forward,6-9,245,USA,1610612763,1996.0,2007.0
4,76006,Forest Able,Guard,6-3,180,USA,1610612755,1956.0,1956.0

In [ ]:
# Limpieza y normalizacion
import numpy as np
import pandas as pd

df_player = pd.read_sql("""
SELECT
  person_id,
  display_first_last,
  position,
  height,
  weight,
  country,
  team_id,
  from_year,
  to_year
FROM common_player_info
""", conn)

def height_to_cm(h):
    try:
        feet, inches = str(h).split("-")
        return (int(feet) * 12 + int(inches)) * 2.54
    except:
        return np.nan

df_player["height_cm"] = df_player["height"].apply(height_to_cm)
df_player["weight_lbs"] = pd.to_numeric(df_player["weight"], errors="coerce")
df_player["weight_kg"] = df_player["weight_lbs"] * 0.453592

df_player["position"] = df_player["position"].replace(["", "None", "nan"], np.nan)
df_player["country"] = df_player["country"].replace(["", "None", "nan"], np.nan)

dim_player = (
    df_player[["person_id","display_first_last","position","country","height_cm","weight_kg"]]
    .rename(columns={"display_first_last":"player_name"})
    .drop_duplicates(subset=["person_id"])
    .reset_index(drop=True)
)

print("‚úÖ DIM_PLAYER:", dim_player.shape)
dim_player.head()

‚úÖ DIM_PLAYER: (3632, 6)

  person_id          player_name position country  height_cm  weight_kg
0     76001       Alaa Abdelnaby  Forward     USA     208.28  108.86208
1     76002      Zaid Abdul-Aziz   Center     USA     205.74  106.59412
2     76003  Kareem Abdul-Jabbar   Center     USA     218.44  102.05820
3       949  Shareef Abdur-Rahim  Forward     USA     205.74  111.13004
4     76006          Forest Able    Guard     USA     190.50   81.64656

In [ ]:
# Creamos la columna team_id
dim_team = pd.read_sql("""
SELECT
  id AS team_id,
  abbreviation,
  nickname,
  city,
  year_founded
FROM team
""", conn)

dim_team["team_id"] = pd.to_numeric(dim_team["team_id"], errors="coerce").astype("Int64")
dim_team["year_founded"] = pd.to_numeric(dim_team["year_founded"], errors="coerce").astype("Int64")

dim_team = dim_team.dropna(subset=["team_id"]).drop_duplicates(subset=["team_id"]).reset_index(drop=True)

print("‚úÖ DIM_TEAM:", dim_team.shape)
dim_team.head()

‚úÖ DIM_TEAM: (30, 5)

      team_id abbreviation   nickname         city  year_founded
0  1610612737          ATL      Hawks      Atlanta          1949
1  1610612738          BOS    Celtics       Boston          1946
2  1610612739          CLE  Cavaliers    Cleveland          1970
3  1610612740          NOP   Pelicans  New Orleans          2002
4  1610612741          CHI      Bulls      Chicago          1966

In [ ]:
# Normalizamos la tabla DIM_DATE
df_game_dates = pd.read_sql("SELECT DISTINCT game_date FROM game", conn)
df_game_dates["full_date"] = pd.to_datetime(df_game_dates["game_date"], errors="coerce")
df_game_dates = df_game_dates.dropna(subset=["full_date"])

dim_date = pd.DataFrame({
    "date_key": df_game_dates["full_date"].dt.strftime("%Y%m%d").astype(int),
    "full_date": df_game_dates["full_date"].dt.date,
    "year": df_game_dates["full_date"].dt.year,
    "month": df_game_dates["full_date"].dt.month,
    "day": df_game_dates["full_date"].dt.day,
    "season_year": df_game_dates["full_date"].dt.year
}).drop_duplicates(subset=["date_key"]).reset_index(drop=True)

print("‚úÖ DIM_DATE:", dim_date.shape)
dim_date.head()

‚úÖ DIM_DATE: (12882, 6)

   date_key   full_date  year  month  day  season_year
0  19461101  1946-11-01  1946     11    1         1946
1  19461102  1946-11-02  1946     11    2         1946
2  19461103  1946-11-03  1946     11    3         1946
3  19461104  1946-11-04  1946     11    4         1946
4  19461105  1946-11-05  1946     11    5         1946

In [ ]:
# Normalizamos la columna MAP_PLAYER_TEAM
map_player_team = df_player[["person_id","team_id","from_year","to_year"]].copy()

map_player_team["team_id"] = pd.to_numeric(map_player_team["team_id"], errors="coerce")
map_player_team["from_year"] = pd.to_numeric(map_player_team["from_year"], errors="coerce")
map_player_team["to_year"] = pd.to_numeric(map_player_team["to_year"], errors="coerce")

map_player_team = map_player_team.dropna(subset=["team_id","from_year","to_year"])
map_player_team["team_id"] = map_player_team["team_id"].astype(int)
map_player_team["from_year"] = map_player_team["from_year"].astype(int)
map_player_team["to_year"] = map_player_team["to_year"].astype(int)

map_player_team = map_player_team.drop_duplicates(subset=["person_id","team_id","from_year"]).reset_index(drop=True)

print("‚úÖ MAP_PLAYER_TEAM:", map_player_team.shape)
map_player_team.head()

‚úÖ MAP_PLAYER_TEAM: (3632, 4)

  person_id     team_id  from_year  to_year
0     76001  1610612757       1990     1994
1     76002  1610612745       1968     1977
2     76003  1610612747       1969     1988
3       949  1610612763       1996     2007
4     76006  1610612755       1956     1956

In [ ]:
# Normalizamos la tabla FACT_COMBINE
combine = pd.read_sql("""
SELECT
  season,
  player_id,
  max_vertical_leap,
  lane_agility_time,
  three_quarter_sprint,
  wingspan,
  bench_press
FROM draft_combine_stats
""", conn)

combine["season_year"] = pd.to_numeric(combine["season"].astype(str).str[:4], errors="coerce")

for c in ["max_vertical_leap","lane_agility_time","three_quarter_sprint","wingspan","bench_press"]:
    combine[c] = pd.to_numeric(combine[c], errors="coerce")

fact_combine = (
    combine.rename(columns={"player_id":"person_id"})
    [["person_id","season_year","max_vertical_leap","lane_agility_time","three_quarter_sprint","wingspan","bench_press"]]
    .dropna(subset=["person_id","season_year"])
    .reset_index(drop=True)
)

print("‚úÖ FACT_COMBINE:", fact_combine.shape)
fact_combine.head()

‚úÖ FACT_COMBINE: (1633, 7)

,person_id,season_year,max_vertical_leap,lane_agility_time,three_quarter_sprint,wingspan,bench_press
0,2124,2000,29.0,11.83,3.38,86.5,13.0
1,12019,2000,29.0,13.80,NaN,80.5,0.0
2,12020,2000,29.5,12.30,3.40,87.5,10.0
3,12131,2000,31.0,13.04,3.47,84.0,15.0
4,2056,2000,29.5,11.53,3.55,86.0,NaN

In [ ]:
# Guardamo outputs limpios
import os

OUT_DIR = "/content/drive/MyDrive/NBA_Project_Clean"
os.makedirs(OUT_DIR, exist_ok=True)

dim_player.to_csv(f"{OUT_DIR}/dim_player.csv", index=False)
dim_team.to_csv(f"{OUT_DIR}/dim_team.csv", index=False)
dim_date.to_csv(f"{OUT_DIR}/dim_date.csv", index=False)
map_player_team.to_csv(f"{OUT_DIR}/map_player_team.csv", index=False)
fact_combine.to_csv(f"{OUT_DIR}/fact_combine.csv", index=False)

print("‚úÖ Guardado en:", OUT_DIR)
print(os.listdir(OUT_DIR))

‚úÖ Guardado en: /content/drive/MyDrive/NBA_Project_Clean
['dim_player.csv', 'dim_team.csv', 'dim_date.csv', 'map_player_team.csv', 'fact_combine.csv']

In [ ]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
display(tables)

                   name
0                  game
1          game_summary
2           other_stats
3             officials
4      inactive_players
5             game_info
6            line_score
7          play_by_play
8                player
9                  team
10   common_player_info
11         team_details
12         team_history
13  draft_combine_stats
14        draft_history
15     team_info_common

In [ ]:
pd.read_sql("PRAGMA table_info(other_stats);", conn)[["name","type"]]

                      name     type
0                  game_id     TEXT
1                league_id     TEXT
2             team_id_home     TEXT
3   team_abbreviation_home     TEXT
4           team_city_home     TEXT
5           pts_paint_home  INTEGER
6      pts_2nd_chance_home  INTEGER
7              pts_fb_home  INTEGER
8        largest_lead_home  INTEGER
9             lead_changes  INTEGER
10              times_tied  INTEGER
11     team_turnovers_home  INTEGER
12    total_turnovers_home  INTEGER
13      team_rebounds_home  INTEGER
14         pts_off_to_home  INTEGER
15            team_id_away     TEXT
16  team_abbreviation_away     TEXT
17          team_city_away     TEXT
18          pts_paint_away  INTEGER
19     pts_2nd_chance_away  INTEGER
20             pts_fb_away  INTEGER
21       largest_lead_away  INTEGER
22     team_turnovers_away  INTEGER
23    total_turnovers_away  INTEGER
24      team_rebounds_away  INTEGER
25         pts_off_to_away  INTEGER

In [ ]:
# Construimos FACT_GAME desde Games + limpieza
import pandas as pd
import numpy as np

df_game = pd.read_sql("""
SELECT
  game_id,
  game_date,
  team_id_home,
  team_id_away,
  pts_home,
  ast_home,
  tov_home,
  blk_home,
  stl_home,
  plus_minus_home,
  pts_away,
  ast_away,
  tov_away,
  blk_away,
  stl_away,
  plus_minus_away
FROM game
""", conn)

# --- Normalizaci√≥n de tipos ---
# ids de equipos a num√©rico
df_game["team_id_home"] = pd.to_numeric(df_game["team_id_home"], errors="coerce")
df_game["team_id_away"] = pd.to_numeric(df_game["team_id_away"], errors="coerce")

# fecha -> date_key
df_game["full_date"] = pd.to_datetime(df_game["game_date"], errors="coerce")
df_game["date_key"] = df_game["full_date"].dt.strftime("%Y%m%d")

# m√©tricas num√©ricas (por si vienen como object)
metric_cols = [
    "pts_home","ast_home","tov_home","blk_home","stl_home","plus_minus_home",
    "pts_away","ast_away","tov_away","blk_away","stl_away","plus_minus_away"
]
for c in metric_cols:
    df_game[c] = pd.to_numeric(df_game[c], errors="coerce")

# --- Selecci√≥n final (DW staging) ---
fact_game = df_game[[
    "game_id",
    "date_key",
    "team_id_home",
    "team_id_away",
    "pts_home","ast_home","tov_home","blk_home","stl_home","plus_minus_home",
    "pts_away","ast_away","tov_away","blk_away","stl_away","plus_minus_away"
]].dropna(subset=["game_id","date_key","team_id_home","team_id_away"])

# tipos finales
fact_game["date_key"] = pd.to_numeric(fact_game["date_key"], errors="coerce").astype("Int64")
fact_game["team_id_home"] = fact_game["team_id_home"].astype("Int64")
fact_game["team_id_away"] = fact_game["team_id_away"].astype("Int64")

fact_game = fact_game.drop_duplicates(subset=["game_id"]).reset_index(drop=True)

print("‚úÖ FACT_GAME:", fact_game.shape)
fact_game.head()

‚úÖ FACT_GAME: (65642, 16)

,game_id,date_key,team_id_home,team_id_away,pts_home,ast_home,tov_home,blk_home,stl_home,plus_minus_home,pts_away,ast_away,tov_away,blk_away,stl_away,plus_minus_away
0,0024600001,19461101,1610610035,1610612752,66.0,NaN,NaN,NaN,NaN,-2,68.0,NaN,NaN,NaN,NaN,2
1,0024600003,19461102,1610610034,1610610031,56.0,NaN,NaN,NaN,NaN,5,51.0,NaN,NaN,NaN,NaN,-5
2,0024600002,19461102,1610610032,1610612738,59.0,NaN,NaN,NaN,NaN,6,53.0,NaN,NaN,NaN,NaN,-6
3,0024600004,19461102,1610610025,1610612752,63.0,NaN,NaN,NaN,NaN,16,47.0,NaN,NaN,NaN,NaN,-16
4,0024600005,19461102,1610610028,1610610036,33.0,NaN,NaN,NaN,NaN,-17,50.0,NaN,NaN,NaN,NaN,17

NBA_WebScraping_Automatico

In [ ]:
!pip install requests beautifulsoup4 lxml pyarrow google-cloud-bigquery

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.12/dist-packages (6.0.2)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.12/dist-packages (18.1.0)
Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.12/dist-packages (3.40.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2026.1.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in /usr/local/lib/python3.12/dist-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.29.0)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery) (2.47.0)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery) (2.5.0)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery) (2.8.0)
Requirement already satisfied: packaging>=24.2.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery) (26.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.72.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (5.29.6)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /usr/local/lib/python3.12/dist-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.27.1)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.76.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.71.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (4.9.1)
Requirement already satisfied: google-crc32c<2.0.0,>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.6.2)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os

BASE_PATH = "/content/drive/MyDrive/NBA_Project"
RAW_PATH = f"{BASE_PATH}/raw"
CLEAN_PATH = f"{BASE_PATH}/clean"

os.makedirs(RAW_PATH, exist_ok=True)
os.makedirs(CLEAN_PATH, exist_ok=True)

print("Estructura creada correctamente ‚úÖ")

In [ ]:
import requests

url = "https://raw.githubusercontent.com/CandelaAntognoli/Analisis-Predictivo-De-Talento-NBA/refs/heads/main/.gitignore"

response = requests.get(url)

with open("nba.sqlite", "wb") as f:
    f.write(response.content)

print("Base descargada correctamente ‚úÖ")

In [ ]:
fact_game.to_csv(f"{OUT_DIR}/fact_game.csv", index=False)
print("‚úÖ Guardado:", f"{OUT_DIR}/fact_game.csv")

‚úÖ Guardado: /content/drive/MyDrive/NBA_Project_Clean/fact_game.csv